.register {
    width: 500px;
    height: 95vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &_content {
        margin: auto;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: center;
        padding: 20px 10px;
        .register-button {
            background-color: #e8aa30;
            &:hover {
                background-color: #ca9222;
            }
        }
    }
}
