.category {
    &_navbar {
        width: 90%;
        display: flex;
        justify-content: space-between;
        &-item {
            width: 22%;
            border: 1px solid #000;
            border-radius: 5px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 4px;
        }
        &-item-active {
            background-color: #000;
            color: #fff;
        }
    }
}
