.home-title {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

.home-box {
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 16px;
}
