.resetpw {
    width: 50rem;
    height: 95vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &_content {
        margin: auto;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        width: 50rem;
        height: 50rem;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 1rem;
        .resetpw-button {
            background-color: #e8aa30;
            &:hover {
                background-color: #ca9222;
            }
        }
    }
}
