.notfound {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 60%;
    }
    &_title {
        margin-top: 2rem;
        font-size: 3rem;
        font-weight: bolder;
    }
    &_text {
        font-size: 2rem;
        margin: 2rem;
        width: 48rem;
        text-align: center;
    }
}
